{% extends "base.html" %}

{% block content %}


<div class="second-page">
    <video class="header-bg-video" autoplay="" loop="" muted=""><source class="" data-src="https://hmg-h-cdn.hearstapps.com/videos/meal-prep-lead-loop-1568398502.mp4" data-type="video/mp4" src="https://hmg-h-cdn.hearstapps.com/videos/meal-prep-lead-loop-1568398502.mp4" type="video/mp4"></video>

    <p>
        <div class="title">
            <em><strong>How to meal prep</strong></em><br>
        </div>
        - Cook and portion out into meal prep containers. Check recipe directions for whether sauce can be added immediately or must be stored separately.
    </p>
    <p>
        <div class="title">
            <em><strong>How to store</strong></em><br>
        </div>
        - Use meal prep containers. Store in the fridge for up to 4 days.
    </p>
    <p>
        <div class="title">
            <em><strong>How to serve</strong></em><br>
        </div>
        - Heat in the microwave until steaming hot and enjoy!
    </p>
    
</div>    
{% endblock %}